<!--{{ friend | json }}-->
<div class="container">
  <h3 class="app-title">Friend application</h3>

  <form #formName="ngForm"(ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputFirstName" class="form-label">First name</label>
      <input type="text" class="form-control" id="exampleInputFirstName" required minlength="2" maxlength="10" pattern="[a-zA-Z]*" #firstName="ngModel" [(ngModel)]="friend.firstName" name="firstname" [class.error]="firstName.invalid && firstName.touched">
      <div [hidden]="firstName.valid || firstName.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputLastName" class="form-label">Last name</label>
      <input type="text" class="form-control" id="exampleInputLastName" required minlength="2" maxlength="10" pattern="[a-zA-Z]*" #lastName="ngModel" [(ngModel)]="friend.lastName" name="lastname" [class.error]="lastName.invalid && lastName.touched">
      <div [hidden]="lastName.valid || lastName.pristine"
           class="alert alert-danger">
        Last name is required
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [email]="true" size="30" #email="ngModel" [(ngModel)]="friend.email" name="email" [class.error]="email.invalid && email.touched">
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Email is required
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPhoneNumber" class="form-label">Phone number</label>
      <input type="tel" class="form-control" id="exampleInputPhoneNumber" required pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" #phoneNumber="ngModel" [(ngModel)]="friend.phoneNumber" name="phonenumber" [class.error]="phoneNumber.invalid && phoneNumber.touched">
      <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
           class="alert alert-danger">
        Phone number is required
      </div>
    </div>

    <div class="mb-3">
      <label  class="form-label">Favourite language</label>
    <select class="form-select" aria-label="Default select example" name="language" id="language"
            #language = "ngModel"
            required [(ngModel)]="friend.language"
            [class.error]="language.invalid && language.touched">
      <option value="js" *ngFor="let language of languages">{{language.name}} </option>
    </select>
      </div>

    <div class="mb-3">
    <button type="submit" class="btn btn-primary" [disabled]="!formName.valid">Submit</button>
    </div>
  </form>
</div>


<section class="friends-box">
  <h3 class="list-title"> Friends list: </h3>
  <div class="friends-flex">
    <div class="friends-flex" *ngFor="let friend of allFriends">
      <div class="friend">
        <p class="name"><strong>Name: </strong> {{friend.firstName}}
          {{friend.lastName}}
        </p>
        <p><strong>Email: </strong> {{friend.email}}
        <p><strong>Phone number: </strong> {{friend.phoneNumber}}</p>
        <p><strong>My favourite language is: </strong> {{friend.language}}</p> <br>
      </div>
    </div>
  </div>
</section>
