<!--{{ friend | json }}-->
<div class="container">
  <h1>Friend list</h1>

  <form #formName="ngForm"(ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputFirstName" class="form-label">First name</label>
      <input type="text" class="form-control" id="exampleInputFirstName" required minlength="2" maxlength="10" pattern="[a-zA-Z]*" #firstName="ngModel" [(ngModel)]="friend.firstName" name="firstname" [class.error]="firstName.invalid && firstName.touched">
      <div [hidden]="firstName.valid || firstName.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputLastName" class="form-label">Last name</label>
      <input type="text" class="form-control" id="exampleInputLastName" required minlength="2" maxlength="10" pattern="[a-zA-Z]*" #lastName="ngModel" [(ngModel)]="friend.lastName" name="lastname" [class.error]="lastName.invalid && lastName.touched">
      <div [hidden]="lastName.valid || lastName.pristine"
           class="alert alert-danger">
        Last name is required
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [email]="true" size="30" #email="ngModel" [(ngModel)]="friend.email" name="email" [class.error]="email.invalid && email.touched">
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Email is required
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPhoneNumber" class="form-label">Phone number</label>
      <input type="tel" class="form-control" id="exampleInputPhoneNumber" required pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" #phoneNumber="ngModel" [(ngModel)]="friend.phoneNumber" name="phonenumber" [class.error]="phoneNumber.invalid && phoneNumber.touched">
      <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
           class="alert alert-danger">
        Phone number is required
      </div>
    </div>

    <div class="mb-3">
    <select class="form-select" aria-label="Default select example" name="language" id="language"
            #language = "ngModel"
            required [(ngModel)]="friend.language"
            [class.error]="language.invalid && language.touched">
      <option selected>Favourite language</option>
      <option value="js" *ngFor="let language of languages">{{language.name}} </option>
    </select>
      </div>

    <div class="mb-3">
    <button type="submit" class="btn btn-primary" [disabled]="!formName.valid">Submit</button>
    </div>
  </form>
</div>


<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between" *ngFor="let element of allFriends">
      <h5 class="mb-1">{{element.firstName}} {{element.lastName}}</h5>
      <p class="mb-1">{{element.email}}</p>
      <p class="mb-1">{{element.phoneNumber}}</p>
      <small>{{element.language}}</small>
    </div>

  </a>
</div>
