.container {
  width: 500px;
  margin-top: 50px;
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
}

h1 {
  margin: 20px;
}

.error {
 border-color: red;
}

button {
  margin: 30px;
}



